
@import "~element-ui/packages/theme-chalk/src/common/var.scss";
$--color-danger: #FF3D00;
$--color-primary: #2478FF;
$--color-success: #4DDB9C;
$--color-warning: #FFC164;
$--color-info: #A200FF;
$--color-text-primary: #FFFFFF;
$--color-text-regular: #6E7999;
$--color-text-secondary: #2478FF;
$--border-color-base: #E8E8E8;
$--color-black: #030B26;
$--color-purple: #7940D5;
$--color-grade-high: #C9040B;
$--color-grade-center: #FF3D00;
$--color-grade-low: #005CFF;
$--color-white:#FFFFFF;